
$vert : #4e6131;
$jaune: #E4E411;


.filtre_vert {
  background-color:$vert;
}

.position_menu a ,.Titre{
  color:#FFFFFF;
}

.LienHeader {
  display:flex;
  justify-content: space-between;
  margin:5px;
}


h2 a{
  color:#000000;
  font-size:18px;

}
.Logo {
  display:flex;
  justify-content: center;
}

%center {
  display: flex;
  justify-content: center;
}

.TitreTitre {
  @extend %center;
}

@mixin cadre-jaune{
  background-color:$jaune;
  flex-grow: 1;


}

.cadre_jaune_menu{
  @include cadre-jaune;

}

@mixin cadre-vert{

  background-color: #8CDC32;
  flex-grow: 1;

}

.cadre_vert_menu{
  @include cadre-vert;
}

.TitrePrincipalBio{
  display:flex;
  justify-content: space-around;

}

.image-logo{
  height:50px;

}

.bgmobile_photo{
  //background-image:url("./img/background.jpg");

  width:100%;
}

.newsLegumesPain {
  margin-top:50px;
  margin-left: 50px;
}

.newsLegumes{
  display: flex;
}

.presentLegumes{
  display:flex;
  margin-top:10px;
}

.actu {
  margin-top:10px;
  margin-right:20px;
}

.texte_actu{
  width:70%
}

.newsPain{
  display:flex;
}

.presentPain{
  display:flex;
  margin-top:10px;
}

